body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;  
  background: #e0e0e0;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 4px;
  line-height: 1.028571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    width:200px;
    text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.wrapper {
    display: flex;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@media screen and (min-width: 768px){
    .modal-dialog {
        right: auto;
        left: 50%;
        width: 900px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}



p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    
    color: #fff;
    transition: all 0.3s;
    padding-right: 0;
    height: 100%;
    padding-top: 20px;
    min-width: 200px;
}

#sidebar .nav {
  width: 95%;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #263238;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ef6c00;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #3a75bf;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3a75bf;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #284773;
}

h1, h2, h3, h4, h5, h6{
     font-family: 'Roboto', sans-serif;
}

.navbar-inverse {
    background-color: #333333;
    background-image: url(../Resources/Images/blue.jpg);
    background-position: 0% 51%;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #b0bec5;
}
.fc-state-default {
    border: 1px solid;
    background-color: #cfd8dc;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-color: #b0bec5 #b0bec5 #b0bec5 #b0bec5;
    /*border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);*/
    color: #333;
    text-shadow: none;
    box-shadow: none;
}
.fc-view-container{
    background-color: #fff;
}

.fc-day-header {
    color:#fff;
    background-color: #171f32;
}
.fc-center {
    color:#0c0201;
}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    }

.fc-state-default { /* non-theme */
    border-style: solid;
    border-width: 1px 0;
    }

.fc-button-inner {
    position: relative;
    float: left;
    overflow: hidden;
    }

.fc-state-default .fc-button-inner { /* non-theme */
    border-style: solid;
    border-width: 0 1px;
    }

.fc-button-content {
    position: relative;
    float: left;
    height: 1.9em;
    line-height: 1.9em;
    padding: 0 .6em;
    white-space: nowrap;
    }

/* icon (for jquery ui) */

.fc-button-content .fc-icon-wrap {
    position: relative;
    float: left;
    top: 50%;
    }

.fc-button-content .ui-icon {
    position: relative;
    float: left;
    margin-top: -50%;
    *margin-top: 0;
    *top: -50%;
    }

/* gloss effect */

.fc-state-default .fc-button-effect {
    position: absolute;
    top: 50%;
    left: 0;
    }

.fc-state-default .fc-button-effect span {
    position: absolute;
    top: -100px;
    left: 0;
    width: 500px;
    height: 100px;
    border-width: 100px 0 0 1px;
    border-style: solid;
    border-color: #fff;
    background: #444;
    opacity: .09;
    filter: alpha(opacity=9);
    }

/* button states (determines colors)  */

.fc-state-default,
.fc-state-default .fc-button-inner {
    border-style: solid;
    border-color: #555;
    background: #bdbdbd;
    color: #000000;
    }

.fc-state-hover,
.fc-state-hover .fc-button-inner {
    border-color: #000000;
    background: #9e9e9e;
    color: #000000;
    }

.fc-state-down,
.fc-state-down .fc-button-inner {
    border-color: #555;
    background: #b0bec5;
    
    }

.fc-state-active,
.fc-state-active .fc-button-inner {
    border-color: #555;
    background: #616161;
    color: #fff;
    }

.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
    color: #78909c;
    border-color: #ddd;
    }

.fc-state-disabled {
    cursor: default;
    }

.fc-state-disabled .fc-button-effect {
    display: none;
    }

.fc-event-title{
   text-shadow: none;
}
.fc-unthemed td.fc-today {
    background: #fff59d;
}
.fc-day-grid-event .fc-time {
     font-weight: normal; 
}

/* collapsed sidebar styles */
@media screen and (max-width: 800px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
.proj {
  display: inline-block;
  height: 10px;
  /*border: 1px solid red;*/
  margin: 0 -2px;
  float: none;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.jumbotron {
    margin-bottom: 50px;
    background-image: url(../Resources/Images/blue.jpg);
    background-position: 0% 51%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000a42;
    border-bottom:solid;
    border-bottom-color:#3b4551;
    border-bottom-width:5px;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000,
        1px 1px 0px #000;
    margin-left:0px;
    margin-right:0px;

}
.well-card {
    box-shadow:0 5px 20px 0 #000000, 
               0 6px 20px 0 #000000;
    background-color: rgba(255, 255, 255, 1);
    padding:5px;
}

html, body{
    height:100%;
}

.gradientcontainer{
    background-image: url(../Resources/Images/blue.jpg);
    background-position: 0% 51%;
    background-size: cover;
    background-repeat: no-repeat;oleId] ASC)
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 3px 6px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 12px; 
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-addon {
    padding: 3px 6px;
    height: 28px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
}
label {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: bold;
}
th{
    font-weight:normal;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 1px solid;
}