
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "User Home";
}

<div class="row text-center" style="height:60%">
    <div class="proj col-xs-3 col-md-2">
        <div class="well-card">
            <img class="center-block img-responsive" style="width: 25%;" src="@Url.Content("~/Resources/Images/Working-Schedule.png")" alt="">
            <div class="card-body">
                <h4 class="card-title">View Events</h4>
                <p class="card-text">View and Register for Events</p>
            </div>
            <div class="card-footer">
                <a href="/UserEventRegistration/Index" class="btn btn-block btn-primary btn-lg" style="max-width:200px; font-size:1vw">Go!</a>
            </div>
        </div>
    </div>

    <div class="proj col-xs-3 col-md-2">
        <div class="well-card">
            <img class="center-block img-responsive" style="width: 25%" src="@Url.Content("~/Resources/Images/Documentation.png")" alt="">
            <div class="card-body">
                <h4 class="card-title">Manage Events</h4>
                <p class="card-text">Add or Manage Events</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-danger btn-lg" style="max-width:200px; cursor:not-allowed; font-size:1vw" disabled>Admin Only</button>
            </div>
        </div>
    </div>

    <div class="proj col-xs-3 col-md-2">
        <div class="well-card">
            <img class="center-block img-responsive" style="width: 25%" src="@Url.Content("~/Resources/Images/employee-profile-icon_398760.png")" alt="">
            <div class="card-body">
                <h4 class="card-title">User Profile</h4>
                <p class="card-text">View or Update User Information</p>
            </div>
            <div class="card-footer">
                <a href="/UserInfo/Index" class="btn btn-block btn-primary btn-lg" style="max-width:200px; font-size:1vw">Go!</a>
            </div>
        </div>
    </div>
</div>